extends layout

block content
  h1 Welcome to My Message Board!
  form(action="/", method="post")
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="message">Message:</label>
    <textarea name="message"></textarea>
    <input type="submit" value="Submit">
  
  ul
    li
      each post in posts
        if (!post)
          p There are currently no posts to show.
        //- post.name
        //- post.date
        //- post.message
